.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
  color: var(--secondary-color);
}
.about__item{
    display: inline-block;
    margin-bottom: 94px;
    position: relative;
    margin-right: 25px;

  
    &> .about__label {
    position: absolute;
    width: 370px;
    bottom: 0;
    margin: 0;
    padding: 27px 90px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
  }
}

.about__item--last{
  display: inline-block;
  margin-bottom: 94px;
  position: relative;

  &> .about__label {
    position: absolute;
    width: 370px;
    bottom: 0;
    margin: 0;
    padding: 27px 90px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
  }
}
// .title {
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.667;
//   text-align: center;
//   letter-spacing: 0.03em;
//   padding-bottom: 50px;
//   color: var(--secondary-color);
// }
// .about__item{
//     display: inline-block;
//     margin-bottom: 94px;
//     position: relative;
//     margin-right: 25px;

  
//     &> .about__label {
//     position: absolute;
//     width: 370px;
//     bottom: 0;
//     margin: 0;
//     padding: 27px 90px;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 16px;
//     text-align: center;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: #FFFFFF;
//     background: rgba(47, 48, 58, 0.8);
//   }
// }

// .about__item--last{
//   display: inline-block;
//   margin-bottom: 94px;
//   position: relative;

//   &> .about__label {
//     position: absolute;
//     width: 370px;
//     bottom: 0;
//     margin: 0;
//     padding: 27px 90px;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 16px;
//     text-align: center;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: #FFFFFF;
//     background: rgba(47, 48, 58, 0.8);
//   }
// }
