.customer{
    padding-top:60px;
}
.customer__logo{
    transition: fill 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__item{
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
    width: 210px;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    padding-top: 17.71px;
    fill: #AFB1B8;

    &:hover,
    &:focus{
    fill:var(--main-color);
    border: 1px solid #2196F3;
    }
}

// .customer{
//     padding-top:94px;

// }
// .customer__logo{
//     transition: fill 250ms linear;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
// .customer__list{
//     display: flex;
//     justify-content: space-between;
// }
// .customer__item{
//     display: inline-block;
//     margin-bottom: 94px;
//     position: relative;
//     width: 170px;
//     height: 92px;
//     border: 1px solid #AFB1B8;
//     box-sizing: border-box;
//     border-radius: 4px;
//     text-align: center;
//     padding-top: 17.71px;
//     fill: #AFB1B8;

//     &:hover,
//     &:focus{
//     fill:var(--main-color);
//     border: 1px solid #2196F3;
//     }
// }


