.footer{
    width: 1600px;
    background-color:#2F303A;
    padding-top:60px;
    padding-bottom: 60px;
}

.address{
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin-top:20px;
    color: #FFffff;
}
.join-us{
    width: 206px;
    border: 1px solid #2F303A;;
    margin-left: 70px;
    margin-top: 12px;
}
.join-us__title{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sign{
    margin-top: 48px;
    margin-left: 12px;
}