.modal__btn{
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875; 
    text-align: center;
    letter-spacing: 0.06em;
    background-color:var(--main-color);
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    display: block;
}

// .modal__btn{
//     width: 200px;
//     height: 50px;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.875; 
//     text-align: center;
//     letter-spacing: 0.06em;
//     background-color:var(--main-color);
//     color: #FFFFFF;
//     cursor: pointer;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     margin: 0 auto;
//     display: block;
// }


