.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}
.modal__close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 1000ms linear;
}
.modal__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin:0 auto;
    margin-bottom: 12px;
}
.modal__label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
    margin-top: 15px;
}
.modal__input,
.modal__textarea{
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 448px;
}
.modal__input{
    margin-bottom:10px;
    height: 40px;
    padding-left: 42px;
    position: absolute; 

    &:focus{
        outline: none;
        border:1px solid #2196F3;
    }
}
.modal__textarea{
    margin-bottom:20px;
    height: 120px;
    padding-left:16px;
    padding-top: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    &:focus{
        border:1px solid #2196F3;
        outline: none;
    }
}
.policy-label{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;

    &::before{
        display: inline-block;
        content: "";
        width: 16px;
        height: 16px;
        border: 1px solid black;
        border-radius: 2px;
        margin-right: 7px;
    }
}
.modal__form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.modal__checkbox--wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin:0 auto;

}
.modal__disclaimer--wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;

}    
.modal__checkbox{
    margin-right: 8px;
}

.modal__icon--wrapper{
    position: relative;
}
.modal__icon{
    position: relative;
    width: 18px;
    height: 18px;
    margin-top: 11px;
    margin-left: 12px;
}

.modal__input:focus+.modal__icon{
    fill: var(--main-color);
}

.modal__checkbox:checked + .policy-label::before{
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    background-image: url(../images.other/tick.svg);
}